.custom-btn {
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.05);
    position: relative;
    display: flex;
    width: 38px;
    row-gap: 1px;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: visible;
    text-align: center;
    align-items: center;
    height: 38px;
    border-radius: 19px;

    .ring {
        z-index: 10;
        position: absolute;
        width: 100%;
        left: 0;
        height: 95%;
        transform: rotate(133deg) scale(1.2);
        top: 2px;
        display: block;
        right: 0;
        margin: 0 auto;
    }
}

.custom-btn > span {
    display: block;
    z-index: 10;
    font-size: 9px;
    line-height: 12px;
    width: 100%;
    text-align: center
}

.custom-btn.xl > span {
    width: 80% !important;
}

.custom-btn.xs {
    width: 16px;
    height: 15px;
    --lib-icon-button-width: 16px;
    --lib-icon-button-container-width: 16px;
    --lib-bubble-btn-diameter: 16px;

    --lib-icon-button-height: 15px;
    --lib-icon-button-container-height: 15px;
    
}

.custom-btn.sm {
    width: 29px;
    height: 29px;
    --lib-icon-button-width: 29px;
    --lib-icon-button-container-width: 29px;
    --lib-bubble-btn-diameter: 29px;

    --lib-icon-button-height: 29px;
    --lib-icon-button-container-height: 29px;
}

.custom-btn.md {
    width: 36px;
    height: 36px;
    --lib-icon-button-width: 36px;
    --lib-icon-button-container-width:36px;
    --lib-bubble-btn-diameter: 36px;

    --lib-icon-button-height: 36px;
    --lib-icon-button-container-height:36px;
}

.custom-btn.lg {
    width: 46px;
    height: 46px;
    --lib-icon-button-width: 46px;
    --lib-icon-button-container-width:46px;
    --lib-bubble-btn-diameter: 46px;

    --lib-icon-button-height: 46px;
    --lib-icon-button-container-height:46px;
}

.base-container .button-content .icon {
    width: 4px;
    height: 4px;
    object-fit: contain;
}
.button-content .title {
    font-size: 12px;
}

.custom-btn.xl {
    width: 56px;
    height: 56px;
    --lib-icon-button-width: 56px;
    --lib-icon-button-container-width:56px;
    --lib-bubble-btn-diameter: 56px;

    --lib-icon-button-height: 56px;
    --lib-icon-button-container-height:56px;    
}

.custom-btn.xxl {
    width: 70px;
    height: 70px;
    --lib-icon-button-width: 70px;
    --lib-icon-button-container-width:70px;
    --lib-bubble-btn-diameter: 70px;

    --lib-icon-button-height: 70px;
    --lib-icon-button-container-height:70px;    
}

.lib-button-component button {
    width: 100% ;
}
.lib-button-component button span.text,
.lib-button-component button .btn-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    width: 100% !important;
}
