@if(isTypeVertical){
   <div class="top vertbtn-container">
      @for(btn of buttons; track $index){
         <div [class]="buttonClasses[btn.id]">
            @if(btn.visible === undefined || btn.visible){
               <app-button 
                  [btnSetting]="btn" 
                  [screenId]="screenIdNormalized">
               </app-button>
            }
         </div>
      }
   </div>
}

@if(!isTypeVertical){
   <div class="bottom cirbtn-container">
      <div class="arc-container">
            @for(btn of arcButtons; track $index){
               <div 
                  [class]="buttonClasses[btn.id]" 
                  [ngStyle]="buttonStyles[btn.id]">

                  @if((btn.visible === undefined || btn.visible) && !btn.main){
                     <app-button 
                        [btnSetting]="btn" 
                        [screenId]="screenId">
                     </app-button>
                  }

               </div>
            }
            
      </div>
      <div class="base-container">
         @for(btn of baseButtons; track $index){
            <div 
               [class]="baseButtonClasses[btn.id]">
               @if((btn.visible === undefined || btn.visible) && assignMain(btn) === btn.id){
                  <app-button 
                     [btnSetting]="btn" 
                     [screenId]="screenId">
                  </app-button>
               }
            </div>
         }
         
      </div>
   </div>
}


