<div class="top vertbtn-container" *ngIf="isTypeVertical">
   <div [class]="buttonClasses[btn.id]" *ngFor="let btn of buttons">
      <app-button 
         *ngIf="btn.visible === undefined || btn.visible" 
         [btnSetting]="btn" 
         [screenId]="screenIdNormalized"></app-button>
   </div>
</div>

<!-- to be made into a component -->
<div class="bottom cirbtn-container" *ngIf="!isTypeVertical">
   <div class="arc-container">
         <div 
            [class]="buttonClasses[btn.id]" 
            *ngFor="let btn of arcButtons; let i = index"
            [ngStyle]="buttonStyles[btn.id]">
               <app-button 
                  *ngIf="(btn.visible === undefined || btn.visible) && !btn.main" 
                  [btnSetting]="btn" 
                  [screenId]="screenId">
               </app-button>
         </div>
   </div>
   <div class="base-container">
      <div 
         [class]="baseButtonClasses[btn.id]" 
         *ngFor="let btn of baseButtons">
            <app-button 
               *ngIf="(btn.visible === undefined || btn.visible) && assignMain(btn) === btn.id" 
               [btnSetting]="btn" 
               [screenId]="screenId">
            </app-button>
      </div>
   </div>
</div>

