.hide {
    display: none !important;
}

.tutorial-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 69%;
    max-width: 200px;
    padding: 64px 0px 0px 24px;
}