<div #tutorWrapper class="tutorial-container">
    <ng-template ngFor let-step [ngForOf]="steps">
        <ng-walkthrough
          [id]="step.id"
          [focusElementSelector]="step.focusElementId"
          [contentTemplate]="step1Template">
        </ng-walkthrough>
    
        <ng-template #step1Template>
          <ng-template ngFor let-descr [ngForOf]="step.descr">
            <p 
              [id]="'descr-' + step.id" 
              [innerHTML]="descr.text"
              [ngStyle]="descr.style ? descr.style : {}">
            </p>
          </ng-template>
        </ng-template>
    </ng-template>
    
</div>

<div class="swiper-nav" (click)="navigateWalkThru()">
    <div class="nav-container">
        <ul>
            <li [ngClass]="{ 'active': panel === activeScreenId }" #navigations *ngFor="let panel of panels" [id]="panel">
                {{ panel }}
            </li>
        </ul>
    </div>
</div>