<div #tutorWrapper class="tutorial-container">
  <ng-container *ngFor="let step of steps">
    <ng-walkthrough
        [id]="step.id"
        [focusElementSelector]="step.focusElementId.replace(' ','')"
        [contentTemplate]="step1Template">
    </ng-walkthrough>

    <ng-template #step1Template>
        <p 
            [id]="'descr-' + step.id" 
            *ngFor="let descr of step.descr" 
            [innerHTML]="descr.text"
            [ngStyle]="descr.style ? descr.style : {}">
        </p>
    </ng-template>

</ng-container>
    
</div>

<div class="swiper-nav" (click)="triggerSlideFunction()">
    <div class="nav-container">
        <ul>
            <li [ngClass]="{ 'active': panel.replace(' ','') === activeScreenId.replace(' ','') }" #navigations *ngFor="let panel of panels" [id]="panel.replace(' ','')">
                {{ panel }}
            </li>
        </ul>
    </div>
</div>