<div class="page main-page">
    <div class="content">
        <div class="langSelect-Container">
            <app-language-selector></app-language-selector>
        </div>

        <swiper-container 
            #allScreenView 
            class="desktop screen-panel" 
            init="false"
            (swiperslidechange)="onSlideChange($event)"
            (swiperslidenexttransitionstart)="onBeforeSlideChange($event)"
            (swiperslidenexttransitionend)="onSlideChangeEnd($event)"
            (swiperslideprevtransitionend)="onSlidePrevEnd($event)">

            <swiper-slide class="screen-container {{isActiveScreen(panel) ? 'onwalk': ''}}" *ngFor="let panel of panels" [id]="panel">
                <lib-icon-btn class="closebtn" (click)="closeWalkthrough()">
                    <img src="/assets/imgs/closebtn.png" />
                 </lib-icon-btn>
                <div class="btn-container {{ highlightAll(isActiveScreen(panel)) ? 'highlightall' : ''}}" [class.onwalk]="!!walkthroughActive">
                    <!-- to be made into a component -->
                    <app-btn-group 
                        *ngFor="let btngrp of buttonGroup"
                        [id]="panel + btngrp.id" 
                        [screenId]="panel"
                        [activeId]="walkthroughActive"
                        [type]="btngrp.layout" 
                        [buttons]="btngrp.buttons"
                        (ButtonGroupReady)="setBtnGroupReady($event)">
                    </app-btn-group>
                </div>
            </swiper-slide>
        </swiper-container>

        <!-- <div class="mobile screen-panel">
            <div class="screen-container" [class.onwalk]="!!walkthroughActive" [id]="'mob'">
                <lib-icon-btn class="closebtn" (click)="closeWalkthrough()">
                    <img src="/assets/imgs/closebtn.png" />
                 </lib-icon-btn>
                 
                <div class="btn-container" [class.onwalk]="!!walkthroughActive" >
                    <app-btn-group 
                        *ngFor="let btngrp of buttonGroup"
                        [id]="'mob' + btngrp.id" 
                        [screenId]="'mob'"
                        [activeId]="walkthroughActive"
                        [type]="btngrp.layout" 
                        [buttons]="btngrp.buttons"
                        (ButtonGroupReady)="setBtnGroupReady($event)">
                </app-btn-group>
                </div>
            </div>
        </div> -->

        <app-cyrano-walkthrough 
            [data]="tutoData" 
            (isOpen)="setActiveBtn($event)">
        </app-cyrano-walkthrough>
        
    </div>
    
</div>
