<div class="page main-page">
    <div class="content">
        <div class="langSelect-Container">
            <app-language-selector></app-language-selector>
        </div>

        <swiper-container 
            #allScreenView
            class="desktop screen-panel" 
            init="false"
            (swiperslidermove)="onSwiperMove($event)"
            (swiperslidechange)="onSlideChange($event)"
            (swiperslidenexttransitionstart)="onBeforeSlideChange($event)"
            (swiperslidenexttransitionend)="onSlideChangeEnd($event)"
            (swiperslideprevtransitionend)="onSlidePrevEnd($event)">

            <swiper-slide class="screen-container {{isActiveScreen(panel.replace(' ','')) ? 'onwalk': ''}}" *ngFor="let panel of panels" [id]="panel">
                <lib-icon-btn class="closebtn" (click)="closeWalkthrough()">
                    <img src="/assets/imgs/closebtn.png" />
                 </lib-icon-btn>

                <div class="btn-container {{ highlightAll(isActiveScreen(panel.replace(' ',''))) ? 'highlightall' : ''}}" [class.onwalk]="!!walkthroughActive">
                    <!-- to be made into a component -->
                    <app-btn-group 
                        *ngFor="let btngrp of buttonGroup"
                        [id]="panel + btngrp.id" 
                        [screenId]="panel.replace(' ','')"
                        [activeId]="walkthroughActive"
                        [type]="btngrp.layout" 
                        [buttons]="btngrp.buttons"
                        (ButtonGroupReady)="setBtnGroupReady($event)">
                    </app-btn-group>
                </div>

                <app-custom-walkthrough
                    [data]="tutoData[panel]" 
                    [panelId]="panel"
                    [isActive]="isActiveScreen(panel.replace(' ',''))"
                    (activeScreenId)="setCurrentActiveScreen($event)"
                    >
                </app-custom-walkthrough>
            </swiper-slide>
        </swiper-container>

        <app-navigation
            [panels]="panels"
            [activeScreenId]="activeScreen">            
        </app-navigation>

        <!-- <app-cyrano-walkthrough 
            [data]="tutoData" 
            (isOpen)="setActiveBtn($event)">
        </app-cyrano-walkthrough> -->
        
    </div>
    
</div>
