@use '@angular/material' as mat;
@import 'assets/styles/typography.scss';

html {
    font-size: 24px;
}
body {
    font-size: 1rem;
    margin: 0;
    color: white;
    // background: #161419;
    background: #171717;
    --font-size-title: 10px !important;
}

.lib-button-component button, 
.lib-button-component button .btn-text {
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding: 0px;
}

lib-bubble-btn button .mat-icon {
    font-size: 20px;
    margin-top: 0.1em;

}


:root {
    --lib-icon-button-width: 2vw;
    --lib-icon-button-height: 4vh;
}

.btn-container.onwalk:not(.highlightall) .app-btn:not(.active){
    filter: brightness(0.3);
}

.btn-container.onwalk .app-btn.active {
    box-shadow: 0px 0px 48px -10px #fff;
    border-radius: 50%;
}

lib-bubble-btn button {
    border: none !important;
    background: var(--lib-button-background, linear-gradient(
        180deg, 
        rgba(62, 64, 69, .5) 0%, 
        rgba(62, 64, 69, 0) 8.33%), 
        radial-gradient(
            170.95% 118.01% at 8.39% 32.81%, 
            rgba(67, 64, 70, .5) 0%, 
            rgba(41, 37, 45, .5) 28.24%,
            rgba(10, 10, 11, .5) 100%)
    ) !important;
}

.wkt-container .wkt-zone.backdrop {
    box-shadow: none !important;
}

b {
    color: #FFFFFF;
    text-shadow: 0px 0px 5.74px 0px #FFFFFF;
    font-weight: bold;
    font-family: 'Gilroy-Bold';
}

div, p, span, input, textarea {
    box-sizing: border-box;
    font-family: 'Gilroy-Regular';
}

body::-webkit-scrollbar,
.page::-webkit-scrollbar {
    display: none;
}

.page {
    min-width: 100%;
    width: 100vw;
    height: 100vh;
    padding: 12px;
}

.page > div {
    width: 100%;
    height: 100%;
}

.content .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
}

.btn-wrapper {
    width: fit-content;
    height: fit-content;
}

.btn.white, input {
    background-color: white;
    color: black;
    padding: 8px 12px;
    font-family: 'Gilroy-Regular';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-navigation {
    display: flex;
    align-items: center;
    padding: 36px 0px;
}

app-navigation .swiper-nav {
    display: flex;
    align-items: center;
    position: fixed;
    height: 80px;
    z-index: 10;
    width: 100vw;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow-y: clip;

    .nav-container {
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 16px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        ul::-webkit-scrollbar {
            display: none;
        }

        ul {
            justify-content: left;
            align-items: center;
            list-style: none;
            display: flex;
            gap: 5%;
            font-size: 52px;
            font-family: "Gilroy-Regular";
            width: 100%;
            height: fit-content;
            padding: 16px 64px;
            overflow-x: scroll;
            margin-block: 0px;
            
            > li {
                font-size: 2.1rem;
                cursor: pointer;
                min-width: fit-content;
                text-align: center;
            }
        }
    }
    
    ul {
        display: flex;
        gap: 45px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0 16px; // Or less extreme padding
        width: 100%;
        scroll-behavior: smooth;
    }

    li.active {
        opacity: 1;
        font-weight: bold;
    }

    li {
        height: fit-content;
        opacity: 0.57;
    }
}

@media only screen and (min-height:720px) and (min-width:790px){
    .page {
        padding: 64px 16px !important;
    }

    app-navigation .swiper-nav {
        position: relative !important;

        .nav-container {
            position: unset !important;
        }
    }
}

@media only screen and (max-width:791px){
    .nav-container ul {
        gap: 20px !important;
        font-size: 16px !important;
    }
}

// walkthrough component overwrite
walkthrough-container {
    overflow: hidden;
    z-index: -1 !important;
}

.wkt-zone.backdrop {
    box-shadow:  none !important;
}

.wkt-content p:first-child,
.tutorial-container p:first-child{
    font-size: 16px;
    font-family: 'Gilroy-Regular';
    line-height: 160%;
    text-shadow: 0px 0px 5.74px rgba(255, 255, 255, 1);
}

@media only screen and (min-width:792px){
    .wkt-content-block,
    .tutorial-container  {
        width: 50%;
        // max-width: 200px;
        min-width: unset !important;
    }
}

.wkt-content {
    text-align: left;
    background: transparent;
}

.wkt-navigate .wkt-finish-link,
.wkt-navigate .wkt-next-link,
.wkt-navigate .wkt-previous-link {
    display: none;
}

.lib-button-container {
    --lib-button-container-background: transparent;
}

.closebtn {
    position: absolute;
    left: 8px;
    top: -48px;
}

.wlk-paragraph {
    padding-top: 28px;
    padding-bottom: 20px;
}

.wkt-content-block.darken {
    background-color: transparent !important;
}

@media only screen and (max-width:791px){
    html {
     font-size: 8px !important;   
    }

    .page {
        padding: 0px !important;
    }

    .screen-panel {
        width: 100% !important;
    }

    walkthrough-container {
        height: 100vh !important;
        z-index: -1 !important;
    }

    .wkt-content-block {
        margin: 0 !important;
        max-width: 50%;
        min-width: unset !important;
    }
    
}